<div class="panels">
  <main class="panel main-content " role="main">
    <header class="main-content__header">
      <h2 class="main-content__header-title">Main Content</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquam architecto at aut consectetur, cupiditate distinctio eligendi explicabo incidunt ipsa iste, maiores nulla obcaecati officia repellendus sapiente vitae voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, asperiores at cupiditate dolorem dolorum esse facere labore necessitatibus nostrum obcaecati optio quidem, quo rerum sint unde ut, voluptate? Eos, ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eaque exercitationem, minus officia recusandae similique tempora vitae voluptatum! Accusamus beatae corporis deleniti dolores, error maxime quidem recusandae rem repudiandae voluptas!</p>
    <p>
      <img class="img-responsive" src="http://placekitten.com/g/600/400" alt="just a little kitten picture">
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deserunt incidunt quos reprehenderit vel voluptates! Aspernatur commodi, dolore error eum iusto nobis praesentium quos voluptatum. Aperiam explicabo quisquam velit vero?
    </p>
  </main>


</div>

<footer class="page-boundary page-boundary--fixed-bottom">
  <div class="page-boundary__item copyright-notice">
    Copyright &copy; 2016 Pontiki Software Crafts
  </div>
</footer>
